*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body{
    font-family: "Roboto", sans-serif;
}

.nav{
    background-color: #000;
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.nav-list{
    display: flex;
    align-items: center;
    list-style: nome;
    margin-right: 24px;
}

.nav-list a{
    padding: 20px;
    text-decoration: nome;
    color: #a4a4a4;
}

.nav-list a:hover{
    color: #fff;
}

.main{
    width: 100%;
    background-color: #fff;
    height: calc(100vh - 80px)
}